<div class="text">
    {{message.text}}
</div>

{{#if imageUrls}}
    <div class="images">
        {{#each url in imageUrls}}
            {{message-image url=url}}
        {{/each}}
    </div>
{{/if}}
