@room-width: 200px;
@roster-width: 175px;
@messages-offset: @room-width + @roster-width + 4px;

.chat-container {
    height: 100%;

    .rooms, .messages, .roster {
        position: relative;
        display: inline-block;
        float: left;
    }
}

.rooms {
    width: @room-width;
    height: 100%;

    background-color: @black-70;
    border-right: 1px solid @black-40;

    overflow-y: auto;

    .room {
        padding: 8px;
        color: #eee;

        border-bottom: 1px solid @black-80;

        &:hover {
            cursor: pointer;
        }
    }
}

.roster {
    width: @roster-width;
    height: 100%;

    overflow-y: auto;

    .nickname {
        padding: 8px;
    }
}

.messages {
    width: ~"calc(100% - @{messages-offset})";
    height: 100%;

    .message-container {
        height: ~"calc(100% - 54px)";
        overflow-y: auto;
    }

    .message {
        position: relative;

        margin: 6px 0;
        padding-left: 16px;

        .name {
            font-size: 0.9em;
            font-weight: bold;

            .time {
                font-size: 0.9em;
                font-weight: normal;
                color: @black-80;

                padding-left: 16px;
            }
        }

        .text {
            padding-left: 4px;
        }

        .images {
            overflow: hidden;

            min-height: 22px;

            .image {
                position: relative;
                display: inline-block;
                float: left;

                min-height: 16px;
                min-width: 32px;

                .expander {
                    @margin: 2px;
                    @width-adjustment: @margin*2;

                    position: absolute;
                    width: ~"calc(100% - @{width-adjustment})";

                    padding: 0 8px;
                    margin: @margin;

                    font-size: 18px;

                    background-color: rgba(255, 255, 255, 0.8);

                    .link-text {
                        display: inline-block;

                        width: 90%;

                        font-size: 11px;

                        .text-truncate();
                    }
                }

                img {
                    display: none;
                }

                &.expanded img {
                    display: block;
                }
            }
        }
    }

    .text-box {
        position: absolute;
        bottom: 0;

        width: 100%;
    }
}
