@width: 400px;

.login-view {
    .login {
        height: 350px;
        width: @width;

        flex-basis: @width;
        -webkit-flex-basis: @width;

        margin-top: 40px;
        padding: 16px;

        background-color: #fff;

        border-radius: 4px;
        border: 1px solid @black-40;

        .row {
            margin-bottom: 12px;
        }

        .setting {
            display: block;

            margin-bottom: 4px;

            overflow: hidden;

            input, label {
                float: left;
            }

            label {
                padding-left: 6px;
                font-weight: normal;
            }
        }
    }
}
