<div class="titlebar">
    <span class="window-controls">
        {{window-control type="close"}}

        {{window-control type="minimize"}}

        {{window-control type="maximize"}}
    </span>

    <span class="title">
        IRC
    </span>
</div>

<div class="layout">
    {{outlet}}
</div>
