<div class="rooms">
    {{irc-room room=connection.serverRoom target=controller}}

    {{#each room in rooms}}
        {{irc-room room=room target=controller}}
    {{/each}}
</div>

<div class="messages">
    <div class="message-container">
        {{#each message in roomMessages}}
            {{irc-message message=message}}
        {{/each}}
    </div>

    <div class="text-box">
        {{textarea value=currentMessage classNames="form-control"}}
    </div>
</div>
